{% extends "base.html" %}

{% block title %}
Delivery Logs - CourierFlow
{% endblock %}


{% block content %}

<div class="page-header">

    <h1>Delivery History</h1>

    <p>
        Track the complete movement history of parcels
    </p>

</div>


<div class="table-card">

    <table>

        <thead>

            <tr>

                <th>Tracking No.</th>

                <th>Employee</th>

                <th>Status</th>

                <th>Date</th>

                <th>Location</th>

                <th>Remarks</th>

            </tr>

        </thead>


        <tbody>

        {% for log in logs %}

            <tr>

                <td>
                    <strong>
                        {{ log.tracking_number }}
                    </strong>
                </td>

                <td>
                    {{ log.employee_name }}
                </td>

                <td>

                    {% if log.status == "Delivered" %}

                        <span class="status status-delivered">
                            Delivered
                        </span>

                    {% elif log.status == "In Transit" %}

                        <span class="status status-transit">
                            In Transit
                        </span>

                    {% elif log.status == "Cancelled" %}

                        <span class="status status-cancelled">
                            Cancelled
                        </span>

                    {% else %}

                        <span class="status status-booked">
                            {{ log.status }}
                        </span>

                    {% endif %}

                </td>

                <td>
                    {{ log.status_date }}
                </td>

                <td>
                    {{ log.location }}
                </td>

                <td>
                    {{ log.remarks or "-" }}
                </td>

            </tr>

        {% else %}

            <tr>

                <td colspan="6"
                    style="text-align:center;padding:30px;">

                    No delivery history found.

                </td>

            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>


{% endblock %}