{% extends "base.html" %}

{% block title %}
Update Status - CourierFlow
{% endblock %}


{% block content %}

<div class="page-header">

    <h1>Update Delivery Status</h1>

    <p>
        Update the current shipment status
    </p>

</div>


<div class="form-card">

    <form method="POST">


        <div class="form-group">

            <label>Parcel</label>

            <select name="parcel_id" required>

                <option value="">
                    Select parcel
                </option>

                {% for parcel in parcels %}

                <option value="{{ parcel.parcel_id }}">

                    {{ parcel.tracking_number }}
                    - {{ parcel.delivery_status }}

                </option>

                {% endfor %}

            </select>

        </div>


        <div class="form-group">

            <label>Employee</label>

            <select name="employee_id" required>

                <option value="">
                    Select employee
                </option>

                {% for employee in employees %}

                <option value="{{ employee.employee_id }}">

                    {{ employee.name }}
                    - {{ employee.designation }}

                </option>

                {% endfor %}

            </select>

        </div>


        <div class="form-group">

            <label>New Status</label>

            <select name="status" required>

                <option value="Booked">
                    Booked
                </option>

                <option value="In Transit">
                    In Transit
                </option>

                <option value="Out for Delivery">
                    Out for Delivery
                </option>

                <option value="Delivered">
                    Delivered
                </option>

                <option value="Cancelled">
                    Cancelled
                </option>

            </select>

        </div>


        <div class="form-group">

            <label>Status Date</label>

            <input
                type="date"
                name="status_date"
                value="{{ today }}"
                required
            >

        </div>


        <div class="form-group">

            <label>Location</label>

            <input
                type="text"
                name="location"
                placeholder="Example: Kochi"
                required
            >

        </div>


        <div class="form-group">

            <label>Remarks</label>

            <textarea
                name="remarks"
                placeholder="Optional remarks"
            ></textarea>

        </div>


        <button class="btn btn-primary" type="submit">
            Update Status
        </button>

        <a href="/" class="btn btn-secondary">
            Cancel
        </a>


    </form>

</div>

{% endblock %}